{% extends 'vote/main.html' %}
{% load static %}

{% block extra-js %}
  <script src="{% static "js/highcharts.js" %}" type="text/javascript"></script>
{% endblock extra-js %}

{% block content %}

  <script type="text/javascript">
    var chart;
    $(document).ready(function() {
          Highcharts.chart('container_chart', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: "Resultado: {{ survey.title }}"
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.y}</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: "Quantidade votos",
                colorByPoint: true,
                data: [
                  {% for alt in survey.alternatives %}
                    {
                        name: "{{ alt.title }}",
                        y: {{ alt.votes }}
                    }{% if not forloop.last %},{% endif %}
                  {% endfor %}
                ]
            }]
        });
    });
  </script>

  <div class="content">
    <h3 class="questao">Obrigado, seu voto é muito importante</h3>
    <div id="container_chart"></div>
  </div>

{% endblock content %}
